<body>
	{% include('AppBundle::navbar.html.twig') %}

	{{ form_start(form) }}
	    {{ form_widget(form) }}

	    <input type="submit" value="Create"
	           class="btn btn-default pull-right" />
	{{ form_end(form) }}
</body>
